/* This styling came with React App */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* This styling came largely from CodePen vault https://codepen.io/umarcbs/pen/oNYePEj */
/* and was then edited by me to fit the site */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #f4d898;
  font-family: Arial;
}

svg {
    display: block;
    font: 10.5em 'Playfair+Display';
    width: 960px;
    height: 100px;
    margin: 0 auto;
    
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 12.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #eb211d;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #f7f41c;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #4de738;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #639ee7;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #ce39e9;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
/* The following editing is for the rest of the site */
#pwImage {width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.NavBar{
  display: flex;
  justify-content: space-between;
}
.NavBarLink {
  display: inline-block;
  width: auto;
  padding: 12px;
  background: #d793e8;
  background: content-box radial-gradient(rgb(178, 34, 214), #f4d898);
  font-size: 3em;
  color: #9ee2ee;
}
.twoThings{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.componentTitle{
  display: flex;
  justify-content: space-around;
}

/* redoing the codePen styling for titles  */
.text-copy1 {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy1:nth-child(1){
stroke: #3dcce5;
animation-delay: -1;
}

.text-copy1:nth-child(2){
stroke: rgb(178, 34, 214);
animation-delay: -2s;
}

.text-copy1:nth-child(3){
stroke: #3dcce5;
animation-delay: -5s;
}

.text-copy1:nth-child(4){
stroke: rgb(178, 34, 214);
animation-delay: -6s;
}

.text-copy1:nth-child(5){
stroke: #3dcce5;
animation-delay: -8s;
}

/* more generic styling */
.videoDescription{
  width: 560px;
  text-align: center;
}
.welcome{
  text-align: center;
  color: rgb(178, 34, 214);
  font-family: Helvetica, sans-serif;
}
.ytwindow{
  border-radius: 25px;
}

.container{
  justify-content: center;
  text-align: center;
  font-family: fantasy;
  color: #ce39e9;
  
}
#ideaBox{
  width: 300px;
  height: 100px;
  word-wrap: normal;
}
#requestFormShow{
text-align: center;
}