/* This styling came with React App */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.headerC{
  display: flex;
  float: left;
}
#pwImage {width: 7em;
  height:7em;
  display: block;
  margin-left: 150px;
  margin-right: -75px;
}
/* This styling came largely from CodePen vault https://codepen.io/umarcbs/pen/oNYePEj */
/* and was then edited by me to fit the site */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #f2dca9;
  font-family: Arial;
}

svg {
    display: block;
    font: 10.5em 'Playfair+Display';
    width: 960px;
    height: 100px;
    margin: 0 auto;
    
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 7.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #3d5ce5;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #9325a6;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #3d5ce5;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #9325a6;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #3d5ce5;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
/* The following editing is for the rest of the site */
.NavBar{
  display: inline-flex;
  width: 100%;
  background-color: white;
}
.NavBarLink {
  display: inline-block;
  width: auto;
  padding: 12px;
  font-family: fantasy;
  font-size: 3em;
  color: #3d5ce5;
  transform: skew(-15deg);
}
.NavBarLink:hover{
  color: #9325a6;
  background: linear-gradient(45deg,white, #f2dca9);
}
.videoCard{
  display: inline-grid;
  margin: 15px;
  color: #9325a6;
  font-size: larger;
}

.componentTitle{
  display: flex;
  justify-content: space-around;
}

/* redoing the codePen styling for titles  */
.text-copy1 {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 11.5s infinite linear;
}

.text-copy1:nth-child(1){
stroke: #3d5ce5;
animation-delay: -1;
}

.text-copy1:nth-child(2){
stroke: rgb(178, 34, 214);
animation-delay: -2s;
}

.text-copy1:nth-child(3){
stroke: #3d5ce5;
animation-delay: -5s;
}

.text-copy1:nth-child(4){
stroke: rgb(178, 34, 214);
animation-delay: -6s;
}

.text-copy1:nth-child(5){
stroke: #3d5ce5;
animation-delay: -8s;
}

/* more generic styling */
.videoDescription{
  width: 560px;
  text-align: center;
  margin-top: 15px;
}
.welcome{
  text-align: center;
  color: rgb(178, 34, 214);
  font-family: Helvetica, sans-serif;
}
.ytwindow{
  border-radius: 25px;
}

.container{
  justify-content: center;
  text-align: center;
  font-family: fantasy;
  color: #ce39e9;
  
}
#ideaBox{
  width: 300px;
  height: 100px;
  word-wrap: normal;
}
#requestFormShow{
text-align: center;
}


/* styling for request cards imported from project '3D CSS Card' by Amit Sheen, https://codepen.io/amit_sheen/pen/ZEJdamr?editors=1111 */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.float-container{
  padding: 20px;
}
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.reqBody {
  font-family: Raleway, sans-serif;  
  padding: 1.5em;
  width: 400px;
  display: inline-grid;
  margin: 15px;
 
}

.card-container {
  perspective: 50em;
}
.card-container:nth-child(1) { --bi: linear-gradient(#555 5em, #0000 3em), linear-gradient(60deg, #ce39e9, #3d5ce5); }


.card {
  position: relative;
  width: 320px;
  padding: 1.5em;
  color: #fff;
  transform: rotateY(10deg) rotateX(10deg);
  transform-style: preserve-3d;
  transition: transform 1.5s;
}
  .card:hover {
    transform: rotateY(-10.5deg) rotateX(-10deg);
  }


.layers {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.layer {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  border-radius: 1em;
  background-image: var(--bi);
  transform: translateZ(var(--tz));
  box-shadow: 0 0 0.5em #000d;
}



.reqButton{
  border-radius: 15px;
  width: auto;
  height: 25px;
  background: linear-gradient(.25turn, #3d5ce5,#ce39e9);
  color: white;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}
/* .reqButton:hover{
  transform: scale(1.5);
} */

/* styling for Home page cards from Sebi on codepen. https://codepen.io/DivineBlow/pen/ZEBqNZb */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.homeCards {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  min-height: 100vh;
  background-color: #f2dca9;
}
  .containerH {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 40px 0;
  }
    .cardH {
      position: relative;
      width: 300px;
      height: 400px;
      margin: 0 auto;
      background: #000;
      border-radius: 25px;
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    }
      .face {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        .face1 {
          box-sizing: border-box;
          padding: 20px;
          margin-bottom: 20px;
          
        }
          h2 {
            margin: 0;
            padding: 0;
          }

          .java {
            background-color: #5789d9;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 5px;
          
          }

          .python {
            background-color: #5789d9;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 5px;
          }

          .cSharp {
            background-color: #5789d9;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 10px;
          }
        

        .face2 {
          transition: 0.5s;
        }
          h2 {
            margin: 0;
            padding: 0;
            font-size: 2em;
            color: #fff;
            transition: 0.5s;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 10;
          }
        
      
    

    .cardH:hover .face2 {
      height: 60px;
    }

    .cardH:nth-child(1) .face2 {
      background-image: linear-gradient(
        40deg,
        #f2dca9 0%,
        #9325a6 45%,
        #3d5ce5 100%
      );
      border-radius: 15px;
    }

    .cardH:nth-child(2) .face2 {
      background-image: linear-gradient(
        40deg,
        #9325a6 0%,
        #3d5ce5 45%,
        #f2dca9 100%
      );
      border-radius: 15px;
    }

    .cardH:nth-child(3) .face2 {
      background-image: linear-gradient(
        40deg,
        #3d5ce5 0%,
        #9325a6 45%,
        #f2dca9 100%
      );
      border-radius: 15px;
    }

    .welcome {
      margin-top: 30px;
      margin-bottom: -80px;
    }
    .content a{
      font-family: fantasy;
      font-variant: small-caps;

    }
    .content a:hover{
      font-kerning: 5px;
      }

      /* navigation bar styling */
